# Detect container vs host
if [[ -d "/repo" ]]; then
    PROJECT_ROOT="/repo"
    source /venv/bin/activate
else
    PROJECT_ROOT="$(pwd)"
fi

export PATH="${HOME}/.local/bin:${PATH}"
export PYTHONPATH="${PYTHONPATH}:${PROJECT_ROOT}"

# Allow functions in direnv
allow_functions() {
  export -f runpy
}

runpy() {
  local file="$1"
  # strip .py
  local module="${file%.py}"
  # convert / → .
  module="${module//\//.}"
  echo "Calling ${module} with python3:"
  python3 -m "$module" "${@:2}"
}

export -f runpy
