services:
  ml_devenv:
    build: 
      context: .
      args:
        HOST_UID: ${HOST_UID}
        HOST_GID: ${HOST_GID}
    container_name: ml_devenv
    volumes:
      - ${WS_DIR}:/workspace
    environment:
      - HOST_UID=${HOST_UID}
      - HOST_GID=${HOST_GID}
      - USERNAME=${USERNAME}
    user: "${USERNAME}"
    stdin_open: true
    tty: true
