services:
  ml_devenv:
    build:
      context: .
      args:
        HOST_UID: ${HOST_UID}
        HOST_GID: ${HOST_GID}
        network: host
    container_name: ml-devenv-${USERNAME}
    volumes:
      - ${WS_DIR}:/workspace
      - /var/devenv/${USERNAME}:/home/${USERNAME}
    environment:
      - HOST_UID=${HOST_UID}
      - HOST_GID=${HOST_GID}
      - USERNAME=${USERNAME}
    user: "${USERNAME}"
    stdin_open: true
    tty: true
    network_mode: host

volumes:
  ml-devenv-data:
